:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--primary-button-background-color: hsl(248, 58%, 54%);
	--primary-button-background-color-hover: hsl(248, 58%, 49%);
	--primary-button-background-color-active: hsl(248, 58%, 60%);
	--danger-button-background-color: hsl(6, 58%, 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;

	background-color: hsl(248, 28%, 98%);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2,
p {
	display: flex;
	margin: 0.25rem 0;
	text-align: left;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

button {
	border-radius: 6px;
	border: 0px solid transparent;
	cursor: pointer;
}

input {
	width: 100%;
}

textarea {
	resize: vertical;
}

input,
textarea {
	padding: 0 0.25rem;

	border-radius: 3px;
	border: 1px solid hsla(248, 50%, 50%, 0.3);

	font-size: 1rem;
	line-height: 1.5rem;
	min-height: 1.5rem;
	max-height: 50vh;

	font-family: inherit;

	&:focus,
	&:focus-visible {
		border-color: hsla(248, 50%, 50%);
		outline: none;
	}
}

.clickable {
	cursor: pointer;
}
